body{
    background-color: turquoise;
}
p{
    color: white;
}
h1{
    color: white;
    text-align: center;
}
#KnappSak:hover {
    background-color: lightgreen;
}
#yessir{
    text-align: center;
    width: 100%;
    font-size: 20px;
}
.link:hover{
    color: cornflowerblue;
}
#signup_skit{
    margin-top: 20%;
}